<!DOCTYPE html>
<html lang="es">

<%-include("./partials/head")%>

    <body>
        <h1><%=marca%></h1>
        <h2>Autos disponibles:</h2>
        <div>
            <% autos.forEach(auto=>{%>
                <p>Modelo: <a href="<%=auto.modelo%>"><%=auto.modelo%></a></p>
                <p>Año: <a href="<%=auto.anio%>"><%=auto.anio%></a></p>
                <p>Color: <a href="<%=auto.color%>"><%=auto.color%></a></p>
                <p>Sucursal: <a href="/sucursales/<%=auto.sucursal %>"><%=auto.sucursal %></a></p>
                <div>
                    <img src="<%=auto.img%>" alt="<%=auto.modelo%>" style="width: 25%;">
                </div>
            <% }) %>
        </div>

    </body>

</html>